<div class="checkout__item">
  <div class="item__info">
    <img src="../../../assets/book.png" alt="book" />
    <div class="book__info">
      <h3 class="book__title">Aki-Ola Series</h3>
      <p class="book__price">
        Ghc125.00 x 2 <span class="total-amount"> Ghc250.00</span>
      </p>
    </div>
  </div>
  <div class="item__controls">
    <img src="../../../assets/deletIcon.svg" alt="delete icon" />
    <div class="item__quantity">
      <button type="button" class="decrease">-</button>
      <p class="quantity">1</p>
      <button type="button" class="increase">+</button>
    </div>
  </div>
</div>
