<main class="container">
  <aside class="sidebar">sidebar</aside>
  <section class="content">
    <div class="search">
      <img src="../../../assets/search.svg" alt="search icon" />
      <input
        type="text"
        placeholder="Search by author or title"
        class="search__input"
      />
    </div>
    <div class="intro">
      <div class="intro__left">
        <img src="../../../assets/bookLogo.svg" alt="logo" />
        <p>Welcome to</p>
        <h1>Topman</h1>
        <h1 class="book-text">Books</h1>
      </div>
      <div class="intro__right">
        <p>A book is a gift one can</p>
        <p>open again and again</p>
        <button>Browse Books</button>
      </div>
    </div>
  </section>
</main>
