<main class="container">
  <aside class="sidebar">sidebar</aside>
  <section class="content">
    <div class="search">
      <img src="../../../assets/search.svg" alt="search icon" />
      <input
        type="text"
        placeholder="Search by author or title"
        class="search__input"
      />
    </div>
    <div class="intro">
      <div class="intro__heading">
        <img src="../../../assets/bookLogo.svg" alt="logo" />
        <h1>Welcome to Topman <span class="book-text">Books</span></h1>
      </div>
      <div class="intro__message">
        <p>A book is a gift one can open again and again</p>
        <button>Browse Books</button>
      </div>
    </div>
  </section>
</main>
